.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 40vw;
    padding: 15px 30px;
    margin: 10px auto;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
}